* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: pink;
  overflow: auto;
}
ul.navbar li {
  float: left;
}
ul.navbar li a {
  background-color: red;
  text-decoration: none;
  color: blue;
  display: block;
  padding: 10px;
}
ul.navbar li a:hover {
  background-color: green;
}
.row {
  display: flex;
}
.col {
  flex: 1;
  padding: 1em;
  border: solid;
}